body {
  background-color: #72b4b4
  }
h1 {
  text-align: center;
  color: #144056;
  font-family: 'Nunito Sans', sans-serif;
  }
h2 {
  text-align: center;
  color: #144056;
  font-family: 'Nunito Sans', sans-serif;
  }
h3 {
  text-align: center;
  color: #144056;
  font-family: 'Nunito Sans', sans-serif;
  }
p {
  text-align: center;
  color: #144056;
  font-family: 'Poppins', sans-serif;
  }
form {
  text-align: center;
  color: #144056;
  font-family: 'Poppins', sans-serif;
  }
button {
  text-align: center;
  background-color: #144056;
  border-color: #144056;
  font-family: 'Poppins', sans-serif;
  color: white;
  }
#center {
  text-align: center;
  }
img {
  height: 20%;
  width: auto;
  text-align: center;
  }